@use "../.../../../../../css/common";

@mixin emphasisBorder {
    border: 1px solid #0f60d1;
    border-left: 5px solid #349ec9;
}
@mixin sectionTitle {
    @include emphasisBorder;
    width: 100%;
    position: absolute;
    background-color: rgba(5, 17, 78, 0.6);
    top: 0;
    left: 0;
    SVG {
        width: 1rem;
        height: 1rem;
    }
    span {
        margin-left: 15px;
        background-color: rgba(8, 47, 114, 0.3);
    }
}
@mixin rangeDescribe {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -0.9rem;
    color: white;
    font-size: 0.8rem;
}
@mixin sliderSubTileStyle {
    color: white;
    font-size: 1rem;
    font-style: bold;
    margin-bottom: 1.5rem;
    span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.3rem;
    }
    SVG {
        width: 1rem;
        height: 1rem;
    }
}

@mixin number-with-unit {
    .number {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .unit {
        font-size: 1rem;
        margin-left: 0.2rem;
        font-weight: normal;
    }
}
.junction-leftTop {
    margin-top: 0.2rem;
    width: 400px;
    @include common.contentBackground;
    @include common.border-animation;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    // traffic flow container style
    div.traffic-flow-container {
        width: 100%;
        position: relative;
        div.title {
            @include sectionTitle;
        }
        //range bar style
        .slider-container {
            padding: 20px;
            border-radius: 10px;
            margin-top: 15px;
            .slider-label {
                @include sliderSubTileStyle;
            }

            .custom-range {
                width: 100%;
                height: 8px;
                outline: none;
                transition: opacity 0.2s;
                appearance: none;
                border-radius: 4px;
                background: linear-gradient(
                    to right,
                    green 0%,
                    #5cac5f 25%,
                    rgb(231, 209, 9) 50%,
                    #da6e0a 80%,
                    #cc0c0c 100%
                );

                &::-webkit-slider-thumb {
                    appearance: none;
                    width: 1rem;
                    height: 1rem;
                    background: url(../../../../assets/icon/icon-pointer.svg) no-repeat center;
                    background-size: contain;
                    margin-bottom: 1.3rem;
                }
            }

            .slider-values {
                @include rangeDescribe;
                span {
                    position: relative;
                    bottom: 1.5rem;
                    left: 1rem;
                }
            }
            .slider-describe {
                @include rangeDescribe;
                span {
                    position: relative;
                    bottom: 0;
                    left: 0.5rem;
                }
            }
        }

        .slider-trafficFlow {
            padding: 20px;
            .slider-label {
                @include sliderSubTileStyle;
            }

            .content-container {
                height: 3rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include emphasisBorder;
                padding: 1rem;
                background-color: rgba(5, 17, 78, 0.3);
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
                SVG {
                    width: 2.5rem;
                    height: 2.5rem;
                    margin-right: 0.7rem;
                }
                @include number-with-unit;
            }
        }
    }
    div.pie-container {
        @mixin text-symbol-layout {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        position: relative;
        width: 100%;
        div.title {
            @include sectionTitle;
        }
        #traffic-monitor-piechart {
            width: 100%;
            margin-top: 3rem;
            .SVG-container {
                width: 100%;
                @include text-symbol-layout;
            }
            SVG {
                width: 2.5rem;
                height: 2.5rem;
                margin: 0 1rem;
            }

            .description {
                margin-top: 0.5rem;
                @include text-symbol-layout;
                span {
                    text-align: center;
                }
            }

            .textData {
                width: 100%;
                @include text-symbol-layout;
                span {
                    width: 4rem;
                    font-family: "黑体", Arial, sans-serif;
                    text-align: center;
                }
                @include number-with-unit;
            }
        }
    }

    // line chart style
    div.line-container {
        position: relative;
        margin-top: 2rem;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .control-buttons {
            margin-top: 50px;
            width: 100%;
            .btn-group {
                display: flex;
                justify-content: space-between;
            }
            .btn-primary {
                flex-grow: 1;
                color: #ccc;
                background-color: rgba(5, 17, 78, 0.6);
            }
            .active-btn {
                background-color: #349ec9;
                border-color: #349ec9;
                color: #ffffff;
            }
        }
        div.title {
            @include sectionTitle;
        }
        #traffic-flow-linechart {
            width: 400px;
            height: 200px;
        }
    }
}
