@use "../../../css/common.scss" as common;

.junctionTimeprogress {
    position: relative;
    z-index: 2;
    @include common.rightElementSize;
    height: 500px;
    .title {
        @include common.bottomElementTitle;
    }
    .progressMain {
        height: 300px; // 给图表一个固定高度
        .chartContainer {
            width: 100%;
            height: 100%;
        }
    }
}
