/*********************************************************
 *                   设置主页最基本的样式                    *
 *********************************************************/
.container{
    min-width: 768px;
    padding:0px;
}
header{
    width: 100%;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    z-index: 5;
}
.wrap{
    border: solid 5px #666;
    overflow: hidden;
    padding: 5px;
    margin-top:8px;
}
.screen{
    position: relative;
    background: url("statics/1.jpeg") no-repeat center;
    background-size:100% 100%;
}
#player{
    width:100%;
    min-height: 415px;
    background-color: rgba(0, 0, 0, 0.25);
    display:block;
    border: 0px;
}
#player video{
    width: 100%;
    display:block;
}
#introductionArea{
    position: absolute;
    z-index: 5;
    width: 120px;
    left: 25px;
    top: 15px;
}
#introductionArea video{
    width: 100%;
}
#progressArea{
    position: absolute;
    z-index: 5;
    width:100%;
    bottom: 15px;
    padding: 0px 100px;
}
.progress{
    margin-bottom: 0px;
    display: none;
}
.section_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section_left, .section_middle, .section_right{
    padding: 5px;
    border-left: solid 5px #666;
    border-bottom: solid 5px #666;
    height: 135px;
}
.section_left{
    width: 80px;
}
.section_left .btn{
    width: 100%;
}
.section_left, .section_middle{
    float: left;
}
.section_middle{
    width: 100%;
}
.section_right{
    border-right: solid 5px #666;
    width:420px;
    position: relative;
}
#canvas {
    width: 400px;
    height: 120px;
    border: solid 1px #aaa;
    padding: 5px 10px;
}
#tips{
    height: 120px;
    width: 100%;
    resize: none;
    border: solid 1px #aaa;
    padding: 5px;
}
@media screen and (min-width: 992px) {
    .container{
        width: 992px;
    }
    #player{
        height: 545px;
    }
    #progressArea{
        bottom: 25px;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: 1200px;
    }
    #player{
        height: 663px;
    }
    #progressArea{
        position: absolute;
        z-index: 5;
        width:100%;
        bottom: 40px;
    }
}
