@mixin mainLayout {
    display: grid;
    grid-template-rows: 4fr 3fr;
}

// centre part include mainstream, functionArea and progress bar
.centre {
    z-index: 1;
    position: relative;
    // mainstream style
    .mainStream {
        position: relative;
        width: 100%;
        height: 100%;
        video {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        #introductionArea {
            position: absolute;
            opacity: 0;
            left: 50%;
            top: 50%;
            // width: 50%;
            // height: 50%;
            // transform: translate(-50%, -50%);
        }
        #audioArea {
            position: absolute;
            opacity: 0;
        }
        #progressArea {
            display: none;
            border: 1px solid #ffffff;
            position: absolute;
            bottom: 10px;
            left: 50%;
            width: 66.67%;
            transform: translateX(-50%);
        }
    }
    .funcArea {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        @include mainLayout;
        .funcBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                padding: 0.3rem 3rem;
                background-color: #33497e;
                color: white;
                cursor: pointer;
                border-radius: 0.5rem;
                margin: 0 1rem;
                transition: background-color 0.3s;
            }
        }
        .displayArea {
            textarea {
                width: 100%;
                height: 100%;
                resize: none;
                color: white;
                background-color: rgba(51, 73, 126, 0.4);
                border: none;
                font-size: 1.2rem;
                margin-top: 0.3rem;
            }
        }
    }
}
