// header part styles
@mixin titleFont {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    height: 3.5rem;
    width: 40rem;
    background: url("../assets/img/title-text.png") no-repeat center;
    background-size: contain;
}
@mixin titleImage {
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to bottom,
            rgba(18, 37, 81, 0.8) 5%,
            rgba(18, 37, 81, 0.7) 50%,
            rgba(18, 37, 81, 0.5) 70%,
            rgba(18, 37, 81, 0.1) 100%
        );
    }
    background: url("../assets/img/Bg-header1.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 8.7rem;
    z-index: 3;
}

@mixin logoStyle {
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10%;
    }
    background: url("../assets/img/logo-row-1.png") no-repeat center;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translate(-50%, 0);
    width: 15rem;
    height: 5rem;
}

// common use styles
@mixin imgLayout {
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin borderLayout {
    border: 1px solid #ffffff;
}

@mixin contentBackground {
    background-image: linear-gradient(to bottom, rgba(13, 37, 73, 0.4), rgba(13, 37, 73, 0.8));
}
@mixin subTitleStyle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: rgba(28, 42, 71, 0.7);
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    vertical-align: center;
}
// breathAnimation;
@mixin breathAnimation {
    border: 1px solid #244a80;
    animation: breathe 1s infinite alternate;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    @keyframes breathe {
        0% {
            border: 1px solid #244a80;
        }
        100% {
            border: 1px solid #aaaaaa;
        }
    }
}
// bottom element style
@mixin bottomElementTitle {
    background: url("../assets/img/title.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;
}
@mixin bottomElementSize {
    height: 250px;
    width: 300px;
    // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(5, 17, 78, 0.8));
    background-color: rgba(255, 255, 255, 0.2);
}

@mixin textStyle {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    width: 100%;
    background-color: #33497e;
    text-align: center;
    opacity: 1;
}
// border filp animation style
@mixin border-animation {
    position: relative;
    cursor: pointer;

    &::after,
    &::before {
        content: "";
        position: absolute;
        border: 2px dashed;
        border-image: linear-gradient(to right, #8f41e9, #578aef) 1;
        /* 简写为 */
        inset: -5px;
        /* 添加动画 */
        animation: pathRotate 3s infinite linear;
    }

    @keyframes pathRotate {
        0%,
        100% {
            clip-path: inset(0 0 98% 0);
        }

        25% {
            clip-path: inset(0 98% 0 0);
        }

        50% {
            clip-path: inset(98% 0 0 0);
        }

        75% {
            clip-path: inset(0 0 0 98%);
        }
    }

    &::after {
        animation-delay: -1.5s;
    }
}
