@import "reset";
@import "common";
// whole body style and layout
@mixin mainLayout {
    display: grid;
    grid-template-rows: 4fr 3fr;
}

main {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);

    // .centre {
    //     width: 100%;
    //     height: 100%;
    // }
    .leftSide {
        @include breathAnimation;
        @include contentBackground;
        width: 100px;
        height: 100px;
        position: absolute;
        left: 5px;
        top: 8.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 800px;
    }
    // right side style
    .rightSide {
        @include contentBackground;
        z-index: 2;
        position: absolute;
        right: 5px;
        top: 8.5rem;
    }
    .bottomSide {
        @include contentBackground;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 300px;
        border: 10px solid red;
    }
}
