html,
body,
#root {
    height: 100%;
    overflow: hidden;
}
#layout {
    color: #fff;
    background-position: 0 0;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    padding: 0 5px 5px 5px;
    background-image: linear-gradient(
        to bottom,
        rgba(31, 33, 44, 1) 5%,
        rgba(31, 33, 44, 1) 10%,
        rgba(31, 33, 44, 0.9) 100%
    );
}
