html,
body,
#root {
    height: 100%;
    overflow: hidden;
}
#layout {
    font-family: 微软雅黑, MicrosoftYahei, sans-serif;
    color: #fff;
    background-position: 0 0;
    height: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 12fr;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(
        to bottom,
        rgba(5, 17, 78, 0.8) 5%,
        rgba(5, 17, 78, 0.8) 10%,
        rgba(5, 17, 78, 0.8) 80%
    );
}
