html,
body,
#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
#layout {
    color: #fff;
    background-position: 0 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    padding: 0;
    // background-image: linear-gradient(
    //     to bottom,
    //     rgba(31, 33, 44, 1) 5%,
    //     rgba(31, 33, 44, 1) 10%,
    //     rgba(31, 33, 44, 0.9) 100%
    // );
    background-color: rgba(0, 0, 0, 0);
}
#videoParentElement {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
video#videoElement {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
}
