@import "reset";
@import "common";
// whole body style and layout
@mixin mainLayout {
    display: grid;
    grid-template-rows: 4fr 3fr;
}

main {
    position: relative;
    background: url(../assets/img/bggggggg.png);
    // background-color: rgba(28, 42, 71, 0.7);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .centre {
        width: 100%;
        height: 100%;
    }
    // left side style
    .leftSide {
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
    }
    // right side style
    .rightSide {
        z-index: 2;
        @include mainLayout;
        position: absolute;
        right: 0;
        top: 0;
    }
    .bottomSide {
        position: absolute;
        bottom: 5%;
        width: 100%;
        border: 1px solid green;
        z-index: 2;
    }
}
