@use "../../../css/common.scss" as common;

.trafficLiveContainer {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 18px;

    .container {
        // border: 1px solid #ccc;
        @include common.rightElementSize;
        height: 330px;
        .title {
            @include common.bottomElementTitle;
        }
        .videoContainer {
            // height: 100%;
            margin-top: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
            .video {
                width: 90%;
                height: 90%;
                object-fit: cover; // 保持视频比例填充容器
            }
        }
    }
}
