@use "../../../../../css/common.scss";
.guage {
    // border: 1px solid red;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    .title {
        @include common.bottomElementTitle;
    }
    .guageContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item {
            // border: 1px solid blue;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        :nth-child(1) {
            background: url(../../../../../assets/img/length.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        :nth-child(2) {
            background: url(../../../../../assets/img/speed.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        :nth-child(3) {
            background: url(../../../../../assets/img/index.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}
