@use "../../../../../css/common.scss" as common;
.leftside {
    width: 500px;
    background-image: linear-gradient(to bottom, rgba(13, 37, 73, 0.4), rgba(13, 37, 73, 0.8));
    border-radius: 10px;
    .twinContainer {
        .title {
            @include common.bottomElementTitle;
        }
        width: 500px;
        height: 282px;
        // border: 1px solid red;
        border-radius: 10px;
        margin-bottom: 30px;
        video {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        video::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 100;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}
.leftside::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: rgba(100, 152, 197, 0.4);
    z-index: -2;
}
