@use "../../../../../css/common.scss" as common;
.top-violation {
    @include common.bottomElementSize;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
        @include common.bottomElementTitle;
    }
    .list-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        margin-top: 0.5rem;
    }
    .list-item {
        margin-top: 0.8rem;
        text-align: left;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 7fr 2fr;
        position: relative;

        .progress {
            position: absolute;
            width: 90%;
            bottom: -0.2rem;
            right: 0;
            height: 0.2rem;
            background-color: rgba(125, 125, 125, 0);

            .progress-bar {
                height: 100%;
                width: 100%;
                background-image: linear-gradient(to right, #ff998a, #ef5050 100%);
            }
        }

        .index {
            text-align: center;
            font-size: 1.2rem;
            border: 1px solid rgba(125, 125, 125, 0.7);
            border-radius: 20%;
        }

        .number {
            text-align: right;
            font-size: 1.3rem;
            .unit {
                font-size: 0.8rem;
            }
        }
    }
}
