@use "../../../../../css/common.scss" as common;
.traffic-rank {
    @include common.bottomElementSize;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
        @include common.bottomElementTitle;
    }
    .rank-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
        line-height: 2rem;
        font-size: 1.1rem;
        margin: 0.5rem 1rem 0.5rem 0rem;
        span.street {
            margin-right: 1.1rem;
        }
    }
    .list-container {
        height: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        > div:nth-child(odd) {
            background-color: rgba(16, 37, 80, 0.9);
        }

        .list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0.5rem;
            height: 2.5rem;
            border-bottom: 1px solid rgba(28, 42, 71, 0.7);
            span {
                text-align: center;
            }
            .status {
                width: 5rem;
                text-align: center;
            }
            .name {
                width: 6rem;
            }
            .green {
                color: #70d274;
            }
            .red {
                color: rgb(216, 89, 15);
            }
        }
    }
}
