@mixin columnFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@mixin progressBarColor($indexChild, $childColor) {
    &:nth-of-type(#{$indexChild}) {
        .index {
            background-color: $childColor;
        }
        .progress-bar {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to right, rgb(247, 250, 247), $childColor 30%, $childColor 100%);
        }
    }
}

.violation-overview {
    width: 400px;

    section.violation-data {
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: 2fr 8fr;

        div.title {
            background: url("../../../../assets/img/loadPicture.png") no-repeat center center;
            background-size: cover;
            writing-mode: vertical-lr;
            font-size: 1.5rem;
            text-align: center;

            &::before {
                content: "";
                display: block;
                width: 1.2rem;
                height: 100%;
                margin-right: 1rem;
            }
        }
        div.data-display {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .overview-container {
                &::after {
                    content: "";
                    width: 100%;
                    height: 2rem;
                    position: absolute;
                    bottom: -2rem;
                    background: url("../../../../assets/img/violence-oveview.png") no-repeat bottom center;
                    background-size: cover;
                }
                position: relative;
                margin-top: 1rem;
                $numberSize: 3rem;
                $largeSize: 5.5rem;
                $specialFontColor: #bfedff;
                height: $largeSize;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                font-size: 1.1rem;

                div.total {
                    width: 8rem;
                    @include columnFlex;
                    height: $largeSize;
                    position: relative;
                    .number {
                        text-align: right;
                        font-size: $numberSize;
                    }
                    .unit {
                        position: absolute;
                        font-size: 0.8rem;
                        margin-left: 2rem;
                        bottom: 0.5rem;
                        right: -1rem;
                        color: #51ffea;
                    }
                }
                div.last-month {
                    @include columnFlex;
                    height: $largeSize * 0.75;
                    color: $specialFontColor;
                    .number {
                        font-size: $numberSize * 0.75;
                        color: #eee;
                    }
                }
                div.compare {
                    @include columnFlex;
                    height: $largeSize * 0.6;
                    color: $specialFontColor;
                    font-size: 1rem;
                    .number {
                        font-size: $numberSize * 0.5;
                        color: #ef5050;
                    }
                }
            }
        }
        div.violation-chart-container {
            border: 1px solid #eee;
            width: 100%;
            height: 50%;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .chart-data-display {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                .list-item {
                    text-align: left;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 5fr 4fr;
                    position: relative;
                    .progress {
                        position: absolute;
                        width: 90%;
                        bottom: -0.2rem;
                        right: 0;
                        height: 0.2rem;
                        background-color: rgba(125, 125, 125, 0);

                        .progress-bar {
                            height: 100%;
                            width: 100%;
                            background-image: linear-gradient(to right, #ff998a, #ef5050 100%);
                        }
                    }

                    .index {
                        $blockSize: 0.5rem;
                        height: $blockSize;
                        width: $blockSize;
                        background-color: #ef5050;
                        align-self: end;
                    }

                    .number {
                        text-align: right;
                        font-size: 1.3rem;
                        .unit {
                            font-size: 0.8rem;
                        }
                    }

                    //set the color of the different types of violations

                    @include progressBarColor(1, #54ff86);
                    @include progressBarColor(2, #f2524e);
                    @include progressBarColor(3, #999999);
                }
            }
        }
    }
}
