@use "../../../css/common.scss" as common;
.trafficViolationContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .title {
        width: 100%;
        height: 46px;
        background: url("../../../assets/image/bottom-title.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: left;
        align-items: center;

        span {
            font-size: 22px;
            font-weight: 700;
            margin-left: 2rem;
            background: linear-gradient(to bottom, #ffffff, #73fcfd);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }
    }
    .emergency {
        position: absolute;
        right: 5px;
        top: 0;
        background: url("../../../assets/image/alert-bg.png") no-repeat center center;
        width: 338px;
        margin-top: 10px;
        align-self: center;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;

        .gif {
            height: 28px;
            width: 28px;
        }
        .alertText {
            white-space: pre;
            font-size: 16px;
            font-weight: 500;
            color: #ffffff;
            margin-left: 10px;
        }
    }
    .mainContent {
        width: 100%;
        height: calc(100% - 40px);
        background: url("../../../assets/image/bottom-bg-green.png") no-repeat center center;
        background-size: 100% 100%;
        padding: 0px 15px 10px 15px;
        .empty {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 36px;
            font-weight: 500;
            color: #ffffff;
        }
        .rankContianer {
            display: grid;
            grid-template-columns: 0.8fr 1.2fr 1.5fr 1.2fr 0.8fr 0.8fr 1fr 1fr 1fr;
            gap: 5px;
            align-items: center;
            height: 44px;
            line-height: 44px;
            font-size: 14px;
            font-weight: 700;

            span {
                text-align: center;
            }
        }
        .listContainer {
            height: 100%;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            > div:nth-child(odd) {
                background-color: rgba(115, 252, 253, 0.38);
            }

            .listItem {
                display: grid;
                grid-template-columns: 0.8fr 1.2fr 1.5fr 1.2fr 0.8fr 0.8fr 1fr 1fr 1fr;
                gap: 5px;
                align-items: center;
                height: 44px;
                font-size: 16px;
                font-weight: 500;

                span {
                    text-align: center;
                    line-height: 20px;
                }
                .green {
                    border-radius: 2px;
                    width: fit-content;
                    margin: 0 auto; // 在网格单元格中自动居中
                    padding: 3px 10px;
                    background-color: #4a83ce;
                }
                .yellow {
                    border-radius: 2px;
                    background-color: #ff9f05;
                    width: fit-content;
                    margin: 0 auto;
                    padding: 3px 10px;
                }
                .red {
                    border-radius: 2px;
                    background-color: #f36133;
                    width: fit-content;
                    margin: 0 auto;
                    padding: 3px 10px;
                }
            }
        }
    }
}
