@use "../../../../../css/common.scss";
@mixin sliderSubTileStyle {
    color: white;
    font-size: 1rem;
    font-style: bold;
    margin-bottom: 1.5rem;
    span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.3rem;
    }
    SVG {
        width: 1rem;
        height: 1rem;
    }
}
@mixin emphasisBorder {
    border: 1px solid #0f60d1;
    border-left: 5px solid #349ec9;
}
@mixin number-with-unit {
    .number {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .unit {
        font-size: 1rem;
        margin-left: 1rem;
        font-weight: normal;
    }
}
.slidertrafficFlow {
    .title {
        @include common.bottomElementTitle;
    }

    .contentContainer {
        margin: 20px;
        margin-bottom: 0;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include emphasisBorder;
        padding: 1rem;
        background-color: rgba(5, 17, 78, 0.3);
        .dataContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
        SVG {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 0.7rem;
        }
        @include number-with-unit;
    }
    // .sliderLabel {
    //     @include sliderSubTileStyle;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     margin-left: 40px;
    //     padding-top: 5px;
    //     padding-right: 30px;
    //     @include number-with-unit;
    //     .dataContainer {
    //         display: flex;
    //         justify-content: space-between;
    //     }
    //     SVG {
    //         margin-right: 10px;
    //     }
    // }
}
