.leftSide {
    width: 500px;
    background-image: linear-gradient(to bottom, rgba(13, 37, 73, 0.9), rgba(13, 37, 73, 0.9));
    border-radius: 10px;
}
.leftSide::before {
    content: "";
    position: absolute;
    height: 100%;
    // background-color: rgba(100, 152, 197, 0.4);
    z-index: -2;
}
