.lights {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin: 2px;
}
.yellow {
    background: url(../../../../../assets/img/yellow.png) no-repeat;
    background-size: contain;
}
.red {
    background: url(../../../../../assets/img/red.png) no-repeat;
    background-size: contain;
}
.green {
    background: url(../../../../../assets/img/green.png) no-repeat;
    background-size: contain;
}
