@import "../.../../../../../../css/common.scss";

.leftTop {
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include border-animation;
    @include contentBackground;

    .title {
        @include subTitleStyle;
    }
    .statistic {
        margin: 2rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem;
    }
    .stat-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .label {
            text-align: center;
            text-wrap: nowrap;
            color: #ddd;
        }
        .value {
            margin: 0 0.3rem;
            font-weight: bold;
            color: #74d86d;
        }
    }
    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}
