@use "../../../../../css/common.scss" as common;
.compare {
    @include common.bottomElementSize;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    .title {
        @include common.bottomElementTitle;
    }
    #delay-content {
        width: 100%;
        height: 100%;
        div {
            width: 100%;
        }
    }
}
