@use "../../../../../css/common.scss" as common;
.trafficJamContainer {
    @include common.bottomElementSize;
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .title {
        @include common.bottomElementTitle;
    }
    #jamGuage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .text {
        $borderStyle: 1px solid
            rgba(
                $color: #ffff,
                $alpha: 0.4
            );
        border-left: $borderStyle;
        border-right: $borderStyle;
        border-radius: 10%;
        padding: 0rem 2rem;
        position: absolute;
        text-align: center;
        top: 67%;
        h3 {
            font-size: 1.1rem;
            color: #fff;
        }
        .number {
            font-size: 2rem;
            color: #fff;
            margin: 0 0.5rem;
        }
        .unit {
            color: #88ff8c;
        }
    }
}
