@use "../../../../css/common";
@use "../sidebar-left/style" as left;
@mixin title-sideeffect {
    &::before {
        content: "";
        display: block;
        height: 20px;
    }
}
.pedestrain-optimization-container {
    margin-top: 1rem;
    @include common.contentBackground;
    $layoutWidth: 5rem;
    width: 100%;
    position: relative;
    @include title-sideeffect;
    .title {
        @include left.sectionTitle;
        top: 0;
    }
    main.pedestrian-main {
        $mainHeight: 6.3rem;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        .pedestrain-scroll-container {
            @include common.contentBackground;
            .nav-container {
                margin-bottom: 1rem;
                font-weight: bold;
                display: flex;
                justify-content: space-around;
                align-items: center;
                span {
                    width: $layoutWidth;
                    text-align: center;
                    text-wrap: nowrap;
                }
            }

            .list-container {
                color: #ddd;
                height: $mainHeight;
                overflow: auto;
                &::-webkit-scrollbar {
                    width: 0;
                }
                > div:nth-child(odd) {
                    background-color: rgba(16, 37, 80, 0.9);
                }
                .list-item {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-left: 3px solid #349ec9;
                    margin: 0.6rem 0;
                    span {
                        width: $layoutWidth;
                        text-align: center;
                    }
                    .name {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
        .pedestrian-index {
            @include common.contentBackground;
            position: relative;
            .number {
                $centerWidth: 5rem;

                text-align: center;
                line-height: $centerWidth;
                border: 1px solid rgb(16, 37, 80);
                border-radius: 50%;
                font-size: 2rem;
                position: absolute;
                width: $centerWidth;
                height: $centerWidth;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: linear-gradient(to right, #349ec9 0%, green 100%);
            }
            .description {
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-wrap: nowrap;
            }
        }
    }
}
